<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Spring Client Application</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/app.css">
</head>
<body ng-app="myApp">
<div class="generic-container" ng-controller="MockUserController">
    <div class="panel panel-default">
        <div class="panel-heading"><span class="lead">User Registration Form </span></div>
        <div class="formcontainer">
            <form name="myForm" class="form-horizontal">

                <!--<input type="hidden" ng-model="ctrl.user.id" />-->
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="fname">FirstName</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="user.firstName" id="fname" class="form-control input-sm" placeholder="Enter your first name" required ng-minlength="3"/>
                            <!--<div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                            </div>-->
                        </div>
                    </div>
                </div>

                <!--<input type="hidden" ng-model="ctrl.user.id" />-->
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="lname">LastName</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="user.lastName" id="lname" class="form-control input-sm" placeholder="Enter your last name" required ng-minlength="3"/>
                            <!--<div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                            </div>-->
                        </div>
                    </div>
                </div>

                <!--<input type="hidden" ng-model="ctrl.user.id" />-->
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="email">Email</label>
                        <div class="col-md-7">
                            <input type="text" ng-model="user.email" id="email" class="form-control input-sm" placeholder="Enter your email " required ng-minlength="3"/>
                            <!-- <div class="has-error" ng-show="myForm.$dirty">
                                 <span ng-show="myForm.uname.$error.required">This is a required field</span>
                                 <span ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span>
                                 <span ng-show="myForm.uname.$invalid">This field is invalid </span>
                             </div>-->
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="age">Age</label>
                        <div class="col-md-7">
                            <input type="number" ng-model="user.age" id="age" class="form-control input-sm" placeholder="Enter your Age" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" required/>
                            <!--<div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.salary.$error.required">This is a required field</span>
                                <span ng-show="myForm.salary.$invalid">This field is invalid </span>
                            </div>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-actions floatRight">
                        <!--<input type="submit"  value="Add" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">-->
                        <button type="button" ng-click="addUser(user)" class="btn btn-primary btn-md" ng-show="!toggleBtn" ng-disable="(user.name == '')">Add</button>
                        <button type="button" ng-click="updateUser(user)" class="btn btn-warning btn-md" ng-show="toggleBtn">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>
        <div class="tablecontainer">
            <table class="table table-striped" >
                <thead>
                <tr width="100%">
                    <th>ID.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users" width="100%">
                    <td>{{$index + 1}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                    <td width="20%">
                        <div class="btn-group">
                            <button type="button" ng-click="editUser($index)" class="btn btn-success custom-width">Edit</button>
                            <button type="button" ng-click="deleteUser($index)" class="btn btn-danger custom-width">Remove</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:fragment="body-bottom-scripts">
    <script src="assets/angular/angular.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="app/js/app.js"></script>
    <script src="app/interceptor/authInterceptor.js"></script>
    <script src="app/modules/users/user_controller_mock.js"></script>
    <script src="app/modules/users/user_controller.js"></script>
    <script src="app/modules/users/user_service.js"></script>
</div>
</body>
</html>